SECRET_KEY=tu_secreto_aqui
SQL_SERVER=iot_alumbrado_paipa.mssql.somee.com
SQL_DATABASE=iot_alumbrado_paipa
SQL_USER=Hakingetico_SQLLogin_1
SQL_PASSWORD=p4iw2erhae
POWERBI_URL=https://app.powerbi.com/view?r=eyJrIjoiNzUwY2EyOTUtNGZiZS00MTE3LThjYTUtZDk5ZWY4MTIwODA3IiwidCI6IjA3ZGE2N2EwLTFmNDMtNGU4Yy05NzdmLTVmODhiNjQ3MGVlNiIsImMiOjR9
LOGIN_USER=admin
LOGIN_PASSWORD=Alumbrado123
